/*Home
=========================================*/

.roboto-icon {
	background-color: #fff;
    background: url('../img/nao.png') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

#circle {
	border: 3px solid red;
    border-radius: 50%;
    width: 100px; height: 100px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}