		<style>
#container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
}
#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}
</style>
<ion-header>
<!-- Custom header injection -->
<header-component></header-component>
	<ion-navbar>
		<button ion-button icon-only menuToggle>
			<ion-icon name="menu"></ion-icon> 
		</button>
		<ion-title>
			Say
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<h3>Say page</h3>

	<form #form="ngForm" (ngSubmit)="doSpeak(form)" novalidate>
      <ion-item>
        <ion-label>Text to say</ion-label>
        <ion-input type="text" required [(ngModel)]="text" name="text"></ion-input>
      </ion-item>
      <button ion-button type="submit">Say</button>
  </form>

  <ion-list>
        <ion-item *ngFor="let response of responses">{{response}}</ion-item>
  </ion-list>

	<!--Upload picture for face recognition-->
	<ion-card>
    	<ion-card-content>
      		Mood recognition

      	<button (click)="takePicture()">Take a Picture</button>

      	Latest Picture:
      	<img [src]="base64Image" *ngIf="base64Image" />
    </ion-card-content>
  </ion-card>
</ion-content>