/*-------------- Header ------------------*/
ion-navbar {
    width: 100vh;
}

ion-navbar div{
    display: inline-block;
}

.navbar img {
    margin-left: 10px;
}

ion-col {
    text-align: center;
    font-size: 150%;
}
/*================= Home =====================*/
ion-label {
	background-color: #fff;
	padding: 15px 15px 12px 15px;
}
ion-input {
	display: block;
	background-color: #FFF;
	margin-bottom: 5px;
	margin-left: -10px;
	margin-top: 5px;
}

button {
	margin-left: 20px;
}

/*-------------- Robot icon ------------------*/
.roboto-icon {
    background-image: url("../img/roboto/nao.png");
    background-size: cover;
    height: 130px;
    width: 140px;
    position: relative;
    margin-top: -228px;
    margin-left: 81px;
}

@-webkit-keyframes scaling {
    from {
        -webkit-transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.2);
    }
}

.roboto-icon:hover {
	-webkit-animation: scaling 1s;
    -webkit-animation-direction: alternate;
}


/*---------------------------------------------*/

/*---------- Circle ---------------------------*/
.circle {
	z-index: -1; 
    position: relative;
}


/*---------------------------------------------*/

/*---------- Full -----------------------------*/

.roboto {
	width: 100vh;
	margin: 125px auto;
}

