<ion-header>
	<ion-navbar>
		<button ion-button icon-only menuToggle>
			<ion-icon name="menu"></ion-icon> 
		</button>
		<div id="icon">{{icon}}</div>
		<ion-title id="name">{{name}}</ion-title>
		<div id="ip">{{ip}}</div>
		<div id="battery">{{battery}} %</div>
		<div *ngIf="charging">
			<div>
				<div>
					<div>
						<div id="batterychargingiconshit"></div>
					</div>
				</div>
			</div>
		</div>
		
		<div *ngIf="!charging">
			<div>
				<div>
					<div>
						<div id="batterydrainingiconshit"></div>
					</div>
				</div>
			</div>
		</div>
	</ion-navbar>
</ion-header>