<ion-header>
	<ion-navbar class="bar-positive" align-title="center">
		<ion-grid class="navbar">
			<ion-row>
				<ion-col><img src="{{icon}}" height="40px" width="40px"></ion-col>
				<ion-col>{{name}}</ion-col>
				<ion-col>{{ip}}</ion-col>
				<ion-col>{{battery}}%
					<div style="display: inline-block" id="charger">
						<div *ngIf="charging">
					  		<ion-icon name="battery-charging"></ion-icon>
						</div>		
						<div *ngIf="!charging">
					  		<ion-icon name="battery-dead"></ion-icon>
						</div>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-navbar>
</ion-header>