<ion-content padding class="has-footer">
	<h3>Home page</h3>
	<div *ngIf="!loginSuccess">
		<form #form="ngForm" (ngSubmit)="loginForm(form)" novalidate>
			<ion-item>
				<ion-label>IP</ion-label>
				<ion-input type="text" required [(ngModel)]="ip.address" name="address"></ion-input>
			</ion-item>
			<button ion-button type="submit">Login</button>
		</form>
	</div>

	<div *ngIf="loginSuccess"> 
		<div *ngIf="shareService.loaded">
			<header-component></header-component>
			<!-- Robot Center -->
			<div class="roboto">
				<div class="center">
					<div class="circle">
						<img src="img/circle/c_leftup_full.png">
						<img src="img/circle/c_rightup_full.png">
						<br/>
						<img src="img/circle/c_leftdown_full.png">
						<img src="img/circle/c_rightdown_full.png">
					</div>
					<div class="roboto-img">
						<img src="{{splashImg}}" height="100px" width="100px"/>
					</div>
				</div>
			</div>
			<div>
				<!--Buttons to call stuff-->
				<button ion-button (click)="openActions()">Actions</button>
				<button ion-button (click)="openSay()">Say</button>
				<button ion-button (click)="openSettings()">Settings</button>
				<button ion-button (click)="openManual()">Manual</button>
			</div>
		</div>
	</div>
</ion-content>
<footer-component></footer-component>