<header-component></header-component>

<ion-content padding>
	<h3>Home page</h3>

	<div *ngIf="loginSuccess">
		<h1>Successfully pinged robot</h1>
		<p>Render robot stuff</p>
	</div>
	<div *ngIf="!loginSuccess">
		<h1>Unsuccessfully pinged robot</h1>
		<p>Render error message and DO NOT render robot stuff</p>
	</div>

	<form #form="ngForm" (ngSubmit)="loginForm(form)" novalidate>
      <ion-item>
        <ion-label>IP</ion-label>
        <ion-input type="text" required [(ngModel)]="ip.adress" name="address"></ion-input>
      </ion-item>
      <button ion-button type="submit">Login</button>
  </form>

       <!-- Robot Center -->
  <div class="roboto-icon" ng-click="drawCircle()">
		<canvas id="canvas" style="width: 100%; height: 100%;">
		</canvas>
	</div>

	<div>
		<!--Buttons to call stuff-->
		<button ion-button (click)="openActions()">Actions</button>
		<button ion-button (click)="openSay()">Say</button>
		<button ion-button (click)="openSettings()">Settings</button>
		<button ion-button (click)="openManual()">Manual</button>
	</div>


</ion-content>