<ion-content padding>
	<h3>Home page</h3>

	<div *ngIf="!loginSuccess">
		<form #form="ngForm" (ngSubmit)="loginForm(form)" novalidate>
			<ion-item>
				<ion-label>IP</ion-label>
				<ion-input type="text" required [(ngModel)]="ip.address" name="address"></ion-input>
			</ion-item>
			<button ion-button type="submit">Login</button>
		</form>
	</div>

	<div *ngIf="loginSuccess">
		<div *ngIf="shareService.loaded">
			<header-component></header-component>
			<!-- Robot Center -->
			<div class="roboto">
				<div class="circle">
					<img src="img/c_leftup_full.png">
					<img src="img/c_rightup_full.png">
					<br/>
					<img src="img/c_leftdown_full.png">
					<img src="img/c_rightdown_full.png">
				</div>
				<div class="roboto-icon">
				</div>
			</div>
			<div>
				<!--Buttons to call stuff-->
				<button ion-button (click)="openActions()">Actions</button>
				<button ion-button (click)="openSay()">Say</button>
				<button ion-button (click)="openSettings()">Settings</button>
				<button ion-button (click)="openManual()">Manual</button>
			</div>
		</div>
	</div>
</ion-content>